<form  style="margin-left:7%;margin-top:5%" name="eventForm" ng-controller="EventAddCtrl"
      ng-submit="addEvent(eventData)">

<div class = "registrationFormLeft">
<div>
  <label style= "margin-right:29px" for="name">Naziv:</label>
  <input  type="text" id="eventname" name="eventname"
         ng-model="eventData.eventname" required>
</div>

<div style="padding-top:10px">
           <label for="eventtext">Opis:</label>
  <textarea  style="width:100%;height:80px" id="eventtext"
         ng-model="eventData.eventtext"></textarea>
</div></div>



<div class = "registrationFormRight">
<div class="btn-group" dropdown>
      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
        {{sportTitle}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="sport in sports"><a href ng-click="sportFilter(sport)">{{sport.sportname}}</a></li>
      </ul>
    </div>

      <div style="padding-top:10px">
  <label for="newpassword">Lokacija:</label>
      <div>  
   <div style= "padding-bottom:10px" class="btn-group" dropdown>
      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
        {{locationTitle}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="location in locations"><a href ng-click="locationFilter(location)">{{location.locationname}}</a></li>
      </ul>
    </div>
  <div>
     <div style= "padding-bottom:10px" class="btn-group" dropdown>
      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
        {{geolocationTitle}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="geolocation in geolocations"><a href ng-click="geolocationFilter(geolocation)">{{geolocation.geolocationname}}</a></li>
      </ul>
    </div>
  </div>

  </div></div>

  
</div>

<div style="display:inline-block;">
<datepicker ng-model="eventData.eventdate" min-date="now" starting-day="1" format-day-header="-" format-day-title="dd.MM.yyyy" max-mode="day" show-weeks="false" class="well well-sm"></datepicker>
</div>

<button type="submit">Spremi</button>

</form>
