<form  name="loginForm" ng-controller="LoginCtrl"
      ng-submit="login(loginData)" novalidate>
<div ng-if="showForm">
  <label for="email">Email:</label>
  <input type="text" id="email"
         ng-model="loginData.email">

  <label for="password">Lozinka:</label>
  <input type="password" id="password"
         ng-model="loginData.password">

  <button type="submit">Prijava</button></div>
<div>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
</form>
